<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aerospike.Client" version="3.2.4" targetFramework="net45" />
  <package id="Microsoft.VisualBasic" version="10.0.1" targetFramework="net45" />
  <package id="NeoLua" version="0.9.14" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
</packages>